{% extends "layoutnewfooter.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your email</h1>

        <p>We've sent a confirmation email to {{ data.emailaddress }}. Follow the instructions to finish creating your account.</p>


        <h2 class="govuk-heading-m govuk-!-margin-top-5">Can’t find the email?</h2>

        <p>It can take a few minutes to arrive. Check your junk mail if you can't see it in your inbox.</p>

        <p>
            <a href="createaccountsignin.html">Enter your details again</a> if you still haven’t received the email.
        </p>


    </div>
  </div>



<form method="post"  action="#" class="for4" style=" float: left; margin-top: 50px;">
    <select style="height:25px;" onchange="window.location.href='?'+this.value">

        <option value="errorcode=false&"
                {% if data.errorcode == 'false' %}selected{% endif %}
        >Default</option>

        <option value="errorcode=true&"
                {% if data.errorcode == 'true'  %}selected{% endif %}
        >Error: empty or wrong number</option>

    </select>
</form>


{% endblock %}
