{% extends "layoutnewfooter.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l" style="">
          Sign in to HMCTS
      </h1>


      <form
              name="aspnetForm"
              method="post"
              id="aspnetForm"
              autocomplete="off">

          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

              <div class="govuk-form-group">
                <label class="govuk-label" for="email">
                  Email address
                </label>
                <input class="govuk-input govuk-\!-width-one-half" id="email" name="email" type="text">
              </div>

              <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                  Password
                </label>
                <input class="govuk-input govuk-input--width-10" id="password" name="password" type="password">

              </div>
            </fieldset>



          <button class="govuk-button govuk-!-margin-top-7" data-module="govuk-button"  onclick="openemail()">
            Sign in
          </button>


          <!--<h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-1">Problems signing in</h2>-->
          <p class="govuk-body  govuk-!-margin-bottom-1"><a href="##">Forgotten password</a></p>

          <br>
          <h3 class="govuk-heading-m">If you don't have an account</h3>
          <p>You need to <a href="/users/selfRegister?redirect_uri=https%3a%2f%2fwww.apply-divorce.service.gov.uk%2fauthenticated&amp;client_id=divorce&amp;state=5a66eaab-6261-4463-94bf-c0e2a1cbc171&amp;scope=">
              create an account</a>
              to use this service.
          </p>


          </div>
      </form>


    </div>
  </div>


<script>

  function openemail()
  {
      window.open('emailcode', '_blank');
  }

</script>


{% endblock %}


